html, body{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: inherit;
    overflow-x: hidden;
}
#colmar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    color: #1B202B
}
#academy{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
    color: #687083;
}
header{
    height: 4rem;
    display: flex;
    justify-content: center;
}
.header{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 9999;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.header-links{
    display: flex;
    align-items: flex-end;
}
.header-links a{
    padding-right: 1rem;
    text-decoration: none;
    color: #4b4b4b;
}
#header-links-last{
    padding-right: 1.5rem;
}
.header-links a:hover{
    color: #656979;
}
.icone{
    display: none;
}
.logo{
    display: inline-flex;
    align-items: center;
    margin-left: 1.5rem;
}
.logo img{
    height: 3rem;
    width: auto;
}
.banner {
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #d6d6d6;
    padding: 2rem 1.5rem;
}
.banner-cont{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.left{
    display: flex;
    width: 60%;
}
.left img{
    width: 100%;
    height: auto;
}
.img-height{
    max-width: 900px;
    max-height: 494px;
}
.img-height img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}
.banner-text{
    padding: 0rem 0rem 6rem 1.5rem;
}
.right {
    align-items: center;
    width: 40%;
    display: flex;
}
.second-right{
    align-items: flex-start;
    width: 40%;
    display: flex;
}
.start-box {
    background-color: #404040;
    margin-top: 2rem;
}
.start-box a{
    padding: 0.5rem;
    align-items: center;
    display: flex;
    color: white;
    margin: 0rem auto;
    justify-content: space-around;
    text-decoration: none;
    font-size: 1rem;
}
.start-box a:hover{
    background-color: #808080;
    transition: background-color 500ms ease;
}
h1{
    font-weight: 900;
    font-size: 2.5rem;
    color: #404040;
    margin: 0;
    padding: 0rem 0rem 2rem 0rem;
}
h2{
    font-weight: 700;
    font-size: 2.25rem;
    color: #404040;
    margin: 0rem 0rem 1.5rem 0rem;
    width: 100%;
}
h3{
    font-weight: 500;
    font-size: 1.25rem;
    color: #404040;
    margin: 0;
    padding: 0rem 0rem 2rem 0rem;
}
.second-banner-text{
    width: 100%;
    position: relative;
    margin-top: -3rem;
}
.second-banner-text span {
    font-weight: 300;
    font-size: 1rem;
    color: #404040;
    margin-bottom: 2rem;
    width: 100%;
}
section{
    display: flex;
}
.second-banner{
    width: 100%;
    padding-left: 1.5rem;
}
.second-banner-cont{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 2rem;
}
.second-banner-text p{
    color: #808080;
    font-weight: 100;
    font-size: 1rem;
    margin: 0rem 0rem 1.5rem 0rem;
    width: 100%;
    line-height: 1.5rem;
}
.images-container img{
    width: 35%;
    height: auto;
    padding: 1rem;
}
.column{
    flex-direction: column;
    height: 100%;
    float: right;
}
.column-images-width{
    width: 100%;
    margin-left: 1.5rem;
    padding-bottom: 2rem;
}
.spacing{
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
}
.spacing img{
    width: 35%;
    height: auto;
    padding: 0rem 1rem 0rem 1rem;
    margin: 1rem 0rem 1rem 0rem;
}
.position{
    padding: 0;
    font-weight: 300;
}
.position-top-edge{
    padding: 0;
    margin-top: 4.5rem;
    font-weight: 500;
    font-size: 1.7rem;
}
.position-bottom-edge{
    padding: 0;
    margin-bottom: 4.5rem;
    text-decoration: none;
}
.position-top-edge2{
    padding: 0;
    margin-top: 3.9rem;
    font-weight: 500;
    font-size: 1.7rem;
}
.position-bottom-edge2{
    padding: 0;
    margin-bottom: 3.9rem;
    text-decoration: none;
}

.text-for-images{
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: space-around;
}
.pictures-text{
    width: 65%;
}
.border{
    border-left: 1px #d6d6d6 solid;
}
.bottom-border{
    border-bottom: 1px #d6d6d6 solid;
}
.top-border{
    border-top: 1px #d6d6d6 solid;
}
.margin-bottom{
    margin-bottom: 0.1rem;
}
.gray{
    background-color: #d6d6d6;
}
.third-banner{
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #f2f2f2;
}
.start-learning{
    padding: 2rem 0rem 1rem;
    justify-content: center;
    display: flex;
}
.start-learning h1{
    padding: 0;
    margin: 0;
}
.third-banner-content{
    width: 100%;
    display: block;
}
.third-banner-images-and-text{
    display: flex;
    margin: 0rem 3rem;
    flex-wrap: wrap;
    justify-content: center;
}
.third-banner-images-and-text img{
    height: auto;
    max-width: 25rem;
}
.images-with-text{
    background-color: white;
    margin: 1rem 1rem;
}
.images-with-text h3{
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem 0rem 1rem 1rem;
}
.images-with-text span{
    font-weight: 100;
    font-size: 1.2rem;
    padding: 1rem 0rem 1rem 1rem;
    color: #a6a6a6
}
.images-with-text p{
    font-weight: 100;
    font-size: 1rem;
    padding: 1rem 0rem 1rem 1rem;
    color: #a6a6a6;
    margin: 0;
}
.fourth-banner{
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: white;
}
.fourth-banner-content{
    width: 100%;
    display: block;
}
.video-wrapper{
    width: 60%;
    margin: 1rem 1.5rem 2rem 1.5rem;
}
.video-insert{
    object-fit: cover;
    width: 100%;
}
.right-fisma{
    width: 100%;
    margin-top: 1rem;
    background-color: #d6d6d6;
    display: flex;
}
.right-fisma img{
    padding: 1rem;
    height: auto;
    width: 35%;
}
.right-text-fisma{
    width: 65%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#fisma-h3{
    margin-top: 19%;
    padding: 0;
    font-weight: 500;
    font-size: 1.4rem;
}
#fisma-span{
    margin-bottom: 19%;
    padding: 0;
    font-weight: 200;
    color: #666666;
}
.fourth-banner-video-and-images{
    display: flex;
}
.fourth-banner-right-content{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.right-image{
    width: 100%;
    display: flex;
}
.right-image img{
    width: 35%;
    padding: 1rem;
}
.reimagine-urban h3{
    font-weight: 600;
    font-size: 1.4rem;
    padding: 1.5rem 0rem 0.5rem 0rem;
}
.reimagine-urban p{
    font-weight: 200;
    color: #666666;
    line-height: 1.5rem;
}
.reimagine-urban p, h3{
    margin: 0;
    padding: 0;
}
.foot{
    border-top: 1px #d6d6d6 solid;
    font-weight: 300;
    display: flex;
    width: 100%;
}
.foot i{
    margin: 1rem 0rem 3rem 1.5rem;
}
.terms{
    display: inline-flex;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 1.5rem;
}
footer span{
    margin-top: 1rem;
}
.terms p{
    margin: 0rem 0.5rem 0rem 0rem;
}
@media only screen and (max-width: 480px){
    #colmar, #academy, .images-with-text img, .images-with-text p, .images-with-text span,
     .fourth-banner-right-content, .reimagine-urban, .terms, nav a{
        display: none;
    }
    .column, .banner{
        padding: 0;
        width: 100%;
    }
    .left{
        width: 100%;
        max-height: 220px;
    }
    .second-banner-cont{
        display: none;
        border: none;
    }
    .border, .bottom-border{
        border: none;
    }
    .second-banner{
        padding: 0;
    }
    .right{
        display: flex;
        width: 100%;
        padding: 2rem 0rem 2rem 0rem;
    }
    .column-images-width, .spacing, .third-banner-images-and-text{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .images-with-text{
        margin: 0;
        background-color: #d6d6d6;
        margin: 0.25rem 0rem 0.25rem 0rem;
    }
    .spacing img{
        width: auto;
        max-height: 160px;
        object-fit: cover;
    }
    .banner-cont, .images-with-text{
        flex-direction: column;
    }
    .banner-text{
        padding: 0rem 1rem 0rem 1rem;
        width: 100%;
    }
    h1{
        font-size: 2rem;
        padding-bottom: 2rem;
        line-height:  3rem;
    }
    h3{
        line-height: 2rem;
    }
    .start-box{
        width: 100%;
        margin-top: 1.5rem;
    }
    .header-links{
        width: 70%;
    }
    nav{
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
    }
    .logo img{
        height: 2rem;
    }
    .icone{
        size: 2rem;
        display: flex;
    }
    .position-top-edge, .position-top-edge2{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    .text-for-images{
        margin-left: 2rem;
        width: 100%;
    }
    .position-bottom-edge, .position-bottom-edge2, .position, .position-top-edge{
        margin-bottom: 0;
        line-height: 1.7rem;
    }
    .gray{
        background-color: white;
    }
    .images-with-text h3{
        font-weight: 500;
    }
    .images-with-text:last-child{
        margin-bottom: 2rem;
    }
    .video-wrapper{
        width: 100%;
        margin: 0;
    }
    footer{
        font-size: 0.7rem;
    }
    .foot i{
        margin: 2.5rem 0rem 1rem 1rem;
    }
}
