html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}
#colmar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    color: #1B202B
}
#academy{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
    color: #687083;
}
header{
    height: 4rem;
    display: flex;
    justify-content: center;
}
.header{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.header-links{
    display: flex;
    align-items: flex-end;
}
.header-links a{
    padding-right: 1rem;
    text-decoration: none;
    color: #4b4b4b;
}
.header-links a:hover{
    color: #656979;
}
.logo{
    display: inline-flex;
    align-items: center;
    margin-left: 1.5rem;
}
.logo img{
    height: 3rem;
    width: auto;
}
