html, body{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: inherit;
    overflow-x: hidden;
}
#colmar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    color: #1B202B
}
#academy{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
    color: #687083;
}
header{
    height: 4rem;
    display: flex;
    justify-content: center;
}
.header{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 9999;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.header-links{
    display: flex;
    align-items: flex-end;
}
.header-links a{
    padding-right: 1rem;
    text-decoration: none;
    color: #4b4b4b;
}
#header-links-last{
    padding-right: 1.5rem;
}
.header-links a:hover{
    color: #656979;
}
.logo{
    display: inline-flex;
    align-items: center;
    margin-left: 1.5rem;
}
.logo img{
    height: 3rem;
    width: auto;
}
.banner {
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #d6d6d6;
    padding: 2rem 1.5rem;
}
.banner-cont{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.left{
    display: flex;
    width: 60%;
}
.left img{
    width: 100%;
    height: auto;
}
.img-height{
    width: 100%;
}
.img-height img{
    width: 100%;
}
.banner-text{
    padding: 0rem 0rem 6rem 1.5rem;
}
.right {
    align-items: center;
    width: 40%;
    display: flex;
}
.second-right{
    align-items: flex-start;
    width: 40%;
    display: flex;
}
.start-box {
    background-color: #404040;
}
.start-box a{
    padding: 0.5rem;
    align-items: center;
    display: flex;
    color: white;
    margin: 0rem auto;
    justify-content: space-around;
    text-decoration: none;
    font-size: 1rem;
}
.start-box a:hover{
    background-color: #808080;
    transition: background-color 500ms ease;
}
h1{
    font-weight: 900;
    font-size: 2.5rem;
    color: #404040;
    margin: 0;
    padding: 0rem 0rem 2rem 0rem;
}
h2{
    font-weight: 700;
    font-size: 2.25rem;
    color: #404040;
    margin: 2rem 0rem 1.5rem 0rem;
    width: 100%;
}
h3{
    font-weight: 500;
    font-size: 1.25rem;
    color: #404040;
    margin: 0;
    padding: 0rem 0rem 2rem 0rem;
}
.second-banner-text{
    width: 100%;
    position: relative;
}
.second-banner-text span {
    font-weight: 300;
    font-size: 1rem;
    color: #404040;
    margin-bottom: 2rem;
    width: 100%;
}
section{
    display: flex;
}
.second-banner{
    width: 100%;
    padding-left: 1.5rem;
}
.second-banner-cont{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 2rem;
}
.second-banner-text p{
    color: #808080;
    font-weight: 100;
    font-size: 1rem;
    margin: 0rem 0rem 1.5rem 0rem;
    width: 100%;
    line-height: 1.5rem;
}
.images-container img{
    width: 35%;
    height: auto;
    padding: 1rem;
}
.column{
    flex-direction: column;
    height: 100%;
    float: right;
}
.column-images-width{
    width: 100%;
    margin-left: 1.5rem;
    padding-bottom: 2rem;
}
.spacing{
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
}
.spacing img{
    width: 35%;
    height: auto;
    padding: 0rem 1rem 0rem 1rem;
    margin: 1rem 0rem 1rem 0rem;
}
.position{
    padding: 0;
    font-weight: 300;
}
.position-top-edge{
    padding: 0;
    margin-top: 4.5rem;
    font-weight: 500;
    font-size: 1.7rem;
}
.position-bottom-edge{
    padding: 0;
    margin-bottom: 4.5rem;
    text-decoration: none;
}
.position-top-edge2{
    padding: 0;
    margin-top: 3.9rem;
    font-weight: 500;
    font-size: 1.7rem;
}
.position-bottom-edge2{
    padding: 0;
    margin-bottom: 3.9rem;
    text-decoration: none;
}

.text-for-images{
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: space-around;
}
.pictures-text{
    width: 65%;
}
.border{
    border-left: 1px #d6d6d6 solid;
}
.bottom-border{
    border-bottom: 1px #d6d6d6 solid;
}
.top-border{
    border-top: 1px #d6d6d6 solid;
}
.margin-bottom{
    margin-bottom: 0.1rem;
}
.gray{
    background-color: #d6d6d6;
}